<!DOCTYPE html>
<html>
    <head>
        <title>Image</title>
    </head>

<body>
    <a href="/home"><p class="return">Back to Home Page</p></a>
    <div><img src="<%= name %>.png" height="200px"/></div>
</body>