<!DOCTYPE html>
<html>
<head>
    <style rel="stylesheet" href="/css/image.css">
    </style>
</head>
<body>
    <a href="/home"><p class="return">Back to Home Page</p></a>
    <!---<% img = 
    <% for (let i=0; img; i++){ %>
    <%= name %>-->
    <%= var name%>
    <%=name%>
</body>